* {
    font-family: 'Tajawal';
}
body {
    direction: rtl;
}
.jumbotron {
    text-align: right;
}
.ppp{
    text-align: right;
}
.card {
    align-items: center;
    text-align: center;
}
    
          

        
            
        

            
              

                
                
                
            
                

                
            
            
                    
                    
