* {
    font-family: 'Tajawal';
}
.form-inline {
      display: flex;
        flex-flow: row wrap;
          align-items: center;
          }

          .form-inline label {
            margin-right: 5px;
            }

            .form-inline input {
              vertical-align: middle;
                margin-right: 10px;
                }

                .form-inline button {
                  margin-top: 5px;
                    margin-bottom: 5px;
                    }
                    
